header {
    min-height: 64px;
    height: 64px;
    max-height: 64px;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 2;
    padding: 0 16px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-out, background 1s ease-out;
}
header.shadow {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}
header.shadow, header > nav.menu-link-container > a.menu-link, header > nav.menu-link-container > a.menu-link::before, header > nav.menu-link-container > a.menu-link::after, header > nav.menu-link-container > a.menu-link.scrolled {
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
header > i.menu, nav.mobile-menu-link-container, div.close-bar-container {
    display: none;
}
a.logo-container, header > nav.menu-link-container {
    min-height: inherit;
    height: inherit;
    max-height: inherit;
}
header > a.logo-container {
    flex-basis: 250px;
}
a.logo-container > img.logo {
    min-height: calc(100% - 8px);
    height: calc(100% - 8px);
    max-height: calc(100% - 8px);
}
header > nav.menu-link-container {
    letter-spacing: 1px;
}
header > nav.menu-link-container > a.menu-link {
    line-height: 64px;
    color: #000000;
    letter-spacing: 2px;
}
header > nav.menu-link-container > a.menu-link::before, header > nav.menu-link-container > a.menu-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    border-bottom: solid rgba(34, 153, 17, 1);
}
header > nav.menu-link-container > a.menu-link::before {
    left: 50%;
}
header > nav.menu-link-container > a.menu-link::after {
    right: 50%;
}
header > nav.menu-link-container > a.menu-link:hover, header > nav.menu-link-container > a.menu-link.active, header > nav.menu-link-container > i:hover {
    background-color: rgba(117, 117, 117, 0.1);
}
header > nav.menu-link-container > a.menu-link.active::before, header > nav.menu-link-container > a.menu-link.active::after, header > nav.menu-link-container > a.menu-link:hover::before, header > nav.menu-link-container > a.menu-link:hover::after {
    width: 50%;
}
header > nav.menu-link-container > a.menu-link.scrolled {
    color: rgba(0, 0, 0, 1);
}
header > nav.menu-link-container > a.menu-link.scrolled::before, header > nav.menu-link-container > a.menu-link.scrolled::after {
    border-bottom-color: rgba(0, 105, 178, 1);
}
header > nav.menu-link-container > i.more_vert {
    border-radius: 50%;
}
@media only screen and (max-width: 768px) {
    header {
        padding: 0 8px;
    }
    header {
        justify-content: unset !important;
    }
    header > i.menu {
        display: block;
    }
    a.logo-container {
        flex-grow: 1;
    }
    header > nav.menu-link-container {
        display: none;
    }
    nav.mobile-menu-link-container {
        display: block;
        min-height: 100vh;
        height: 100vh;
        max-height: 100vh;
        min-width: 80%;
        width: 80%;
        max-width: 80%;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 1);
        z-index: 11;
        -webkit-transition: all .4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        -webkit-transform: translateX(-104%);
        -moz-transform: translateX(-104%);
        -ms-transform: translateX(-104%);
        -o-transform: translateX(-104%);
        transform: translateX(-104%);
        -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
    }
    nav.mobile-menu-link-container > div:first-child {
        min-height: 64px;
        height: 64px;
        max-height: 64px;
    }
    nav.mobile-menu-link-container > div:not(:first-child) {
        min-height: 40px;
        height: 40px;
        max-height: 40px;
    }
    nav.mobile-menu-link-container > div:not(:first-child) > a {
        flex-grow: 1;
        letter-spacing: 2px;
        color: #000000;
    }
    nav.mobile-menu-link-container.opened {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
    div.close-bar-container {
        min-height: 24px;
        height: 24px;
        max-height: 24px;
        display: flex;
    }
    div.close-bar-container > div {
        min-height: 1px;
        height: 1px;
        max-height: 1px;
        min-width: 24px;
        width: 24px;
        max-width: 24px;
        background-color: rgba(0, 0, 0, 1);
    }
}
