body {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: rgba(250, 250, 250, 1);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
}
*, *::before, *::after {
    box-sizing: border-box;
    outline: none;
}
*:focus {
    outline: none;
}
*::selection {
    color: rgba(0, 105, 178, 1);
}
a {
	text-decoration: none;
}
.capitalize {
	text-transform: capitalize;
}
.uppercase {
	text-transform: uppercase;
}
.line-height {
	line-height: 64px;
}

/*
|--------------------------------------------------------------------------
| Height
|--------------------------------------------------------------------------
*/

.height-inherit {
	height: inherit;
}
.height-100vh {
	height: 100vh;
}

/*
|--------------------------------------------------------------------------
| Width
|--------------------------------------------------------------------------
*/

.min-width-auto {
    min-width: auto;
}
.width-auto {
    width: auto;
}
.min-width-100 {
	min-width: 100%;
}
.width-50 {
    width: 50%;
}
.width-100 {
	width: 100%;
}
.max-width-100 {
	max-width: 100%;
}

/*
|--------------------------------------------------------------------------
| Input
|--------------------------------------------------------------------------
*/

input[type=text] {
	border: none;
	padding: 0;
	font-size: inherit;
	width: 100%;
}

/*
|--------------------------------------------------------------------------
| Button
|--------------------------------------------------------------------------
*/

button {
	margin: 0;
	border: none;
	font-size: inherit;
	height: inherit;
}

/*
|--------------------------------------------------------------------------
| Position
|--------------------------------------------------------------------------
*/

.pos-fixed {
    position: fixed;
}
.pos-relative {
    position: relative;
}
.pos-absolute {
    position: absolute;
}

/*
|--------------------------------------------------------------------------
| Margin
|--------------------------------------------------------------------------
*/

.m-0-8 {
	margin: 0 8px;
}
.m-0-16 {
    margin: 0 16px;
}
.m-t-16 {
    margin-top: 16px;
}
.m-l-8 {
    margin-left: 8px;
}
.m-l-16 {
    margin-left: 16px;
}

/*
|--------------------------------------------------------------------------
| Padding
|--------------------------------------------------------------------------
*/

.p-4 {
	padding: 4px;
}
.p-0-8 {
	padding: 0 8px;
}
.p-0-16 {
    padding: 0 16px;
}
.p-r-16 {
    padding-right: 16px;
}

/*
|--------------------------------------------------------------------------
| Flex
|--------------------------------------------------------------------------
*/

.d-flex {
    display: flex;
}
.flex-dir-row {
    flex-direction: row;
}
.flex-dir-column {
	flex-direction: column;
}
.flex-wrap {
	flex-wrap: wrap;
}
.j-c-space-between {
    justify-content: space-between;
}
.j-c-space-evenly {
    justify-content: space-evenly;
}
.j-c-center {
	justify-content: center;
}
.j-c-end {
    justify-content: flex-end;
}

.a-i-center {
    align-items: center;
}
.flex-basis-100 {
	flex-basis: 100%;
}

/*
|--------------------------------------------------------------------------
| Cursor
|--------------------------------------------------------------------------
*/

.cur-point {
    cursor: pointer;
}

/*
|--------------------------------------------------------------------------
| Display
|--------------------------------------------------------------------------
*/

.display-block {
	display: block;
}
.display-none {
	display: none;
}

/*
|--------------------------------------------------------------------------
| Font
|--------------------------------------------------------------------------
*/
.font-weight-400 {
    font-weight: 400;
}

/*
|--------------------------------------------------------------------------
| Owl Carousel
|--------------------------------------------------------------------------
*/

.slider-active.owl-carousel, .slider-active.owl-carousel img {
    min-height: 100vh;
    height: 100vh;
    max-height: 100vh;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
}
.slider-active.owl-carousel {
    top: 0;
    left: 0;
}
.slider-active .owl-nav .owl-prev, .slider-active .owl-nav .owl-next {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    text-align: center;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.slider-active .owl-nav .owl-prev {
    left: 1%;
}
.slider-active .owl-nav .owl-next{
    left: auto;
    right: 1%;
}
.slider-active .owl-nav .owl-prev:hover, .slider-active .owl-nav .owl-next:hover{
    background-color: rgba(180, 180, 180, 0.25);
}
.slider-active .owl-nav .owl-prev i, .slider-active .owl-nav .owl-next i {
    font-size: 40px;
}
.slider-active .owl-dots{
    display: none;
}
.slider-active .owl-dot{
    background: red none repeat scroll 0 0;
    border-radius: 50%;
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 0 2px;
}
.slider-active .owl-dot.active{
    background: green none repeat scroll 0 0;
}

/*
|--------------------------------------------------------------------------
| Common CSS
|--------------------------------------------------------------------------
*/

.grey-overlay {
    min-height: 100vh;
    height: 100vh;
    max-height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}
.banner-container {
    min-height: 100vh;
    height: 100vh;
    max-height: 100vh;
}
@media only screen and (max-width: 768px) {
    .slider-active .owl-nav {
        display: none;
    }
}
